{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password |{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <p class="lead mx-auto py-2">Change your password</p>
        </div>
        <div class="col-12">
            <form method="post" class="form form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Save" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock content %}

